.full-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .full-container {
    max-width: 1280px;
  }

  body {
    background-image: url("images/background_img.jpg");
    background-size: auto;
  }

  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: green;
    margin-top: 20px;
    position: relative;
    right: 10px;
  }
  nav {
    margin-top: 10px;
  }

  #logout {
    background-color: red;
    color: white;
    border: none;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    width: 70px;
    height: 28px;
    border-radius: 4px;
  }

  #logout:hover {
    background-color: lightslategrey;
  }

  .container-head {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
  }

  .events {
    display: flex;
    justify-content: space-between;
    background-color: white;

    margin: 20px 300px;
    padding: 10px;
  }

  .btn {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* FILTER-SECTION */

  .filter-div {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .filter-items {
    padding-right: 10px;
    color: black;
  }
  h4 {
    color: black;
  }

  a {
    color: black;
  }

  /* MAIN-SECTION */

  */ .card {
    background-color: lightgray;
    border-radius: 10px;
  }

  .event-form {
    padding: 10px;
  }

  /* .event-form .form-control {
    background-color: lightgrey;
} */

  /* #evntDate {
    background-color: lightgray;
} */
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}