.full-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .full-container {
    max-width: 1280px;
  }

  body {
    background-image: url("images/background_img.jpg");
    background-size: auto;
  }

  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: green;
    margin-top: 20px;
    position: relative;
    right: 10px;
  }
  nav {
    margin-top: 10px;
  }

  #logout {
    background-color: red;
    color: white;
    border: none;
    /* padding-top: 3px;
    padding-bottom: 3px; */
    width: 70px;
    height: 28px;
    border-radius: 4px;
  }

  #logout:hover {
    background-color: lightslategrey;
  }

  .container-head {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
  }

  .events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 20px 300px;
    padding: 30px;
    border-radius: 10px;
    width: 800px;
  }

  /* BUTTONS */

  /* Custom Authorize Button */
  .authorize {
    display: inline-block;
    font-weight: 400;
    color: #fff; /* Text color */
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #28a745; /* Background color */
    border: 1px solid #28a745; /* Border color */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 5px;
  }

  .authorize:hover {
    color: #fff;
    background-color: #218838; /* Background color on hover */
    border-color: #1e7e34; /* Border color on hover */
  }

  .authorize:focus,
  .authorize.focus {
    color: #fff;
    background-color: #218838; /* Background color on focus */
    border-color: #1e7e34; /* Border color on focus */
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); /* Box shadow on focus */
  }

  .authorize:disabled,
  .authorize.disabled {
    color: #fff;
    background-color: #28a745; /* Background color when disabled */
    border-color: #28a745; /* Border color when disabled */
  }

  .authorize:not(:disabled):not(.disabled):active,
  .authorize:not(:disabled):not(.disabled).active,
  .show > .authorize.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34; /* Background color when active */
    border-color: #1c7430; /* Border color when active */
  }

  .authorize:not(:disabled):not(.disabled):active:focus,
  .authorize:not(:disabled):not(.disabled).active:focus,
  .show > .authorize.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); /* Box shadow on active focus */
  }

  /* Custom Dismiss Button */
  .dismiss {
    display: inline-block;
    font-weight: 400;
    color: #fff; /* Text color */
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #dc3545; /* Background color */
    border: 1px solid #dc3545; /* Border color */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 5px;
  }

  .dismiss:hover {
    color: #fff;
    background-color: #c82333; /* Background color on hover */
    border-color: #bd2130; /* Border color on hover */
  }

  .dismiss:focus,
  .dismiss.focus {
    color: #fff;
    background-color: #c82333; /* Background color on focus */
    border-color: #bd2130; /* Border color on focus */
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); /* Box shadow on focus */
  }

  .dismiss:disabled,
  .dismiss.disabled {
    color: #fff;
    background-color: #dc3545; /* Background color when disabled */
    border-color: #dc3545; /* Border color when disabled */
  }

  .dismiss:not(:disabled):not(.disabled):active,
  .dismiss:not(:disabled):not(.disabled).active,
  .show > .dismiss.dropdown-toggle {
    color: #fff;
    background-color: #bd2130; /* Background color when active */
    border-color: #b21f2d; /* Border color when active */
  }

  .dismiss:not(:disabled):not(.disabled):active:focus,
  .dismiss:not(:disabled):not(.disabled).active:focus,
  .show > .dismiss.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); /* Box shadow on active focus */
  }

  /* FILTER-SECTION */

  .filter-div {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .filter-items {
    padding-right: 10px;
    color: black;
  }
  h4 {
    color: black;
  }

  a {
    color: black;
  }

  /* MAIN-SECTION */

  */ .card {
    background-color: lightgray;
    border-radius: 10px;
  }

  .event-form {
    padding: 10px;
  }

  /* .event-form .form-control {
    background-color: lightgrey;
} */

  /* #evntDate {
    background-color: lightgray;
} */
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
