.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1380px;
  }

  body {
    background-color: #EEF7FF;
    background-size: auto;
  }

  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: green;
    margin-top: 20px;
    position: relative;
    right: 10px;
  }
  nav {
    margin-top: 10px;
  }

  .btn {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* MAIN-SECTION */

  #main-section {
    padding-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-details {
    width: 500px;
    text-align: center;
    margin-top: 20px;
  }

  /* INFO-SECTION */

  #info-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-div{
    padding-bottom: 20px;
    width: 500px;
    text-align: center;
    margin-top: 20px;
  }



  .info-img{
    width: 500px;
    margin-bottom: 20px;
    border-radius: 10px
  }

}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
