.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  body {
    animation: fadeIn 1s ease;
    background-image: url("images/background_img.jpg");
    background-size: auto;
  }

  nav {
    background-color: lightgrey;
    margin-top: 10px;
    border-radius: 10px;
    padding: 40px;
    background-color: #dddddd;
  }

  h1 {
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: green;
    margin-top: 20px;
    position: relative;
    bottom: 5px;
    left: 5px;
  }

 

  .table-title {
    color: green;
    margin-top: 30px;
    border-radius: 10px;
  }
  .table {
    /* width: 40%;
    margin-top: 50px;
    position: relative;
    left: 40px;
   border-style: solid;
    border-color: green;
    border-radius: 10px;
    padding: 10px; */

    width: 40%;
    margin-top: 50px;
    position: relative;
    left: 450px;
    /* border: 0.5rem outset green; */
    outline: 5px solid green;
    box-shadow: 0 0 0 9px  green;
    border-radius: 12px;
    margin: 2rem;
    /* padding: 1rem; */
    /* outline-offset: 0.5rem; */
  }

  .custom-bg-color {
    background-color: #dddddd;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .table {
    /* width: 40%;
    margin-top: 50px;
    position: relative;
    left: 40px;
   border-style: solid;
    border-color: green;
    border-radius: 10px;
    padding: 10px; */

    width: 50%;
    margin-top: 50px;
    position: relative;
    left: 230px;
    /* border: 0.5rem outset green; */
    outline: 5px solid green;
    box-shadow: 0 0 0 9px  green;
    border-radius: 12px;
    margin: 2rem;
    /* padding: 1rem; */
    /* outline-offset: 0.5rem; */
  }

}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .table {
    /* width: 40%;
    margin-top: 50px;
    position: relative;
    left: 40px;
   border-style: solid;
    border-color: green;
    border-radius: 10px;
    padding: 10px; */

    width: 50%;
    margin-top: 50px;
    position: relative;
    left: 156px;
    /* border: 0.5rem outset green; */
    outline: 5px solid green;
    box-shadow: 0 0 0 9px  green;
    border-radius: 12px;
    margin: 2rem;
    /* padding: 1rem; */
    /* outline-offset: 0.5rem; */
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .table {
    /* width: 40%;
    margin-top: 50px;
    position: relative;
    left: 40px;
   border-style: solid;
    border-color: green;
    border-radius: 10px;
    padding: 10px; */

    width: 60%;
    margin-top: 50px;
    position: relative;
    left: 90px;
    /* border: 0.5rem outset green; */
    outline: 5px solid green;
    box-shadow: 0 0 0 9px  green;
    border-radius: 12px;
    margin: 2rem;
    /* padding: 1rem; */
    /* outline-offset: 0.5rem; */
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .table {
    /* width: 40%;
    margin-top: 50px;
    position: relative;
    left: 40px;
   border-style: solid;
    border-color: green;
    border-radius: 10px;
    padding: 10px; */

    width: 80%;
    margin-top: 50px;
    position: relative;
    left: 10px;
    /* border: 0.5rem outset green; */
    outline: 5px solid green;
    box-shadow: 0 0 0 9px  green;
    border-radius: 12px;
    margin: 2rem;
    /* padding: 1rem; */
    /* outline-offset: 0.5rem; */
  }

}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .table {
    /* width: 40%;
    margin-top: 50px;
    position: relative;
    left: 40px;
   border-style: solid;
    border-color: green;
    border-radius: 10px;
    padding: 10px; */

    width: 80%;
    margin-top: 50px;
    position: relative;
    /* border: 0.5rem outset green; */
    outline: 5px solid green;
    box-shadow: 0 0 0 9px  green;
    border-radius: 12px;
    margin: 2rem;
    /* padding: 1rem; */
    /* outline-offset: 0.5rem; */
  }
}
