* {
  margin: 0;
  box-sizing: border-box;
  font-family: "CustomFont";
}

@font-face {
  font-family: "CustomFont";
  src: url("../fonts/RolexLight.woff2");
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  background-color: white;
  width: 80%;
  height: 70%;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.alt-login {
  width: 100%; /* Adjusted width to ensure center alignment */
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  flex-direction: column; /* Adjust the flex direction */
}

.google {
  width: 40%;
  height: 3em;
  background-color: rgb(60, 106, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 1em;
}

.google:hover {
  transform: scale(1.05);
}

input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
}

input:focus {
  outline-color: rgb(32, 177, 255);
}

.text {
  position: relative;
  bottom: 0.5%;
}

.hide {
  position: absolute;
  transform: scale(0);
}

.login-popup {
  position: absolute;
  height: 30em;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background-color: black;
  color: white;
  bottom: 0;
  transform: scale(1);
  transition: 1.5s;
}

@media only screen and (min-device-width: 64em) {
  .page {
    font-size: 1em;
  }

  .cover {
    width: 30%;
    height: 65%;
  }
}
